@import "../node_modules/normalize.css/normalize.css";
// Colours:
$light-teal: #d8f9f8;
$dark-teal: #549492;
$light-salmone: #ffc2b3;
$dark-salmon: #cb6b52;
$sun-white: #fffcde;
$sun-yellow: #ffe019;
$light-violet: #d5cdf1;
$dark-violet: #7263a6;
$light-grey-green: #c1e6d0;
$dark-grey-green: #6b997e;
$light-baby-blue: #99d5ff;
$dark-baby-blue: #45a3e6;
$pink-pale: #ffd4d5;
$pink-dusty: #cf6e72;
$light-tan: #fbdcb6;
$dark-tan: #e09a43;
$light-terracotta: #fcaf97;
$dark-terracotta: #b36e59;
$faded-pink: #e3bfcb;
$dusty-pink: #966072;
$pale-grey-blue: #bfe6ff;
$dark-grey-blue: #6b8799;
$dusty-rose: #E6A1A1;
$dark-rose: #B35959;
$silver-grey: #c4cee2;
$dark-silver-grey: #6d727d;
$light-sand: #ffe7a6;
$sand: #e6c670;
$light-pinkish-tan: #fadede;
$pinkish-tan: #e6968c;
$light-dusk: #abcaef;
$dusk-blue: #254a94;
$light-grey-teal: #bae1db;
$grey-teal: #598d85;
$greyblue: #7db1b3;
$dark-greyblue: #1f6266;
$light-marigold: #fcf0cc;
$marigold: #fdbd02;
$pale-mauve: #f4eaed;
$light-mauve: #b9a2a9;
$perrywinkle: #a8afe7;
$dark-perrywikle: #6b73ab;
$note-grey: #888d9c;
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 1.5;
  background-color: #ffffff;
  color: #333333;
  margin: 40px auto 40px auto;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

header {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 999;
}

nav img {
  width: 50px;
}

.logo {
  img {
    width: 250px;
    display: inline-block;
  }
  h1 {
    display: inline-block;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

.card-base {
  width: 200px;
  height: 250px;
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.2), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s ease;
  transform: translateY(0px);
}

.front {
  position: relative;
  margin: 15px;
  cursor: pointer;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  p {
    bottom: 30px;
    position: absolute;
    right: 30px;
    left: initial;
    text-align: right;
  }
}

.front:hover {
  box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.2), 0px 30px 25px 0px rgba(0, 0, 0, 0.05);
  transform: translateY(-5px);
}

.front:hover .back {
  opacity: 1;
}

.intro {
  text-align: center;
  color: $note-grey;
  width: 320px;
  margin: 135px auto 60px;
  h2 {
    margin-top: 40px;
    color: #444;
  }
}

.visible-small {
  display: none;
}

footer {
  text-align: center;
  color: $note-grey;
  padding-top: 50px;
  font-size: 14px;
}

footer a {
  color: $dark-baby-blue;
  text-decoration: none;
}

.about-page {
  background: #ffeae7;
  nav img {
    width: 120px;
  }
}

.about-content {
  padding: 50px;
  max-width: 550px;
  color: #f6a79a;
  text-align: center;
  margin: 20vh auto;
  a {
    color: $light-baby-blue;
    text-decoration: none;
  }
  h2 {
    color: #444;
  }
}

@media (max-width: 767px) {
  .hidden-small {
    display: none;
  }
  .visible-small {
    display: block;
  }
  .intro img {
    width: 80px;
    cursor: pointer;
  }
  .about-page nav img {
    width: 80px;
  }
  .logo img {
    width: 210px;
  }
  .about-content {
    margin: 20vh auto 0px;
  }
}

/* Colors */

.front-1 {
  background-color: $dusty-rose;
  color: $dark-rose;
  .back {
    color: $dusty-rose;
    background-color: $dark-rose;
  }
}

.front-2 {
  background-color: $light-salmone;
  color: $dark-salmon;
  .back {
    color: $light-salmone;
    background-color: $dark-salmon;
  }
}

.front-3 {
  background-color: $light-tan;
  color: $dark-tan;
  .back {
    color: $light-tan;
    background-color: $dark-tan;
  }
}

.front-4 {
  background-color: $sun-white;
  color: $sun-yellow;
  .back {
    color: $sun-white;
    background-color: $sun-yellow;
  }
}

.front-5 {
  background-color: $pink-pale;
  color: $pink-dusty;
  .back {
    color: $pink-pale;
    background-color: $pink-dusty;
  }
}

.front-6 {
  background-color: $light-violet;
  color: $dark-violet;
  .back {
    color: $light-violet;
    background-color: $dark-violet;
  }
}

.front-7 {
  background-color: $light-baby-blue;
  color: $dark-baby-blue;
  .back {
    color: $light-baby-blue;
    background-color: $dark-baby-blue;
  }
}

.front-8 {
  background-color: $light-grey-green;
  color: $dark-grey-green;
  .back {
    color: $light-grey-green;
    background-color: $dark-grey-green;
  }
}

.front-9 {
  background-color: $light-marigold;
  color: $marigold;
  .back {
    color: $light-marigold;
    background-color: $marigold;
  }
}

.front-10 {
  background-color: $pale-mauve;
  color: $light-mauve;
  .back {
    color: $pale-mauve;
    background-color: $light-mauve;
  }
}

.front-11 {
  background-color: $faded-pink;
  color: $dusty-pink;
  .back {
    color: $faded-pink;
    background-color: $dusty-pink;
  }
}

.front-12 {
  background-color: $perrywinkle;
  color: $dark-perrywikle;
  .back {
    color: $perrywinkle;
    background-color: $dark-perrywikle;
  }
}

.front-13 {
  background-color: $light-dusk;
  color: $dusk-blue;
  .back {
    color: $light-dusk;
    background-color: $dusk-blue;
  }
}

.front-14 {
  background-color: $pale-grey-blue;
  color: $dark-grey-blue;
  .back {
    color: $pale-grey-blue;
    background-color: $dark-grey-blue;
  }
}

.front-15 {
  background-color: $light-teal;
  color: $dark-teal;
  .back {
    color: $light-teal;
    background-color: $dark-teal;
  }
}

.front-16 {
  background-color: $light-sand;
  color: $sand;
  .back {
    color: $light-sand;
    background-color: $sand;
  }
}

.front-17 {
  background-color: $light-grey-teal;
  color: $grey-teal;
  .back {
    color: $light-grey-teal;
    background-color: $grey-teal;
  }
}

.front-18 {
  background-color: $silver-grey;
  color: $dark-silver-grey;
  .back {
    color: $silver-grey;
    background-color: $dark-silver-grey;
  }
}

.front-19 {
  background-color: $light-pinkish-tan;
  color: $pinkish-tan;
  .back {
    color: $light-pinkish-tan;
    background-color: $pinkish-tan;
  }
}

.front-20 {
  background-color: $light-terracotta;
  color: $dark-terracotta;
  .back {
    color: $light-terracotta;
    background-color: $dark-terracotta;
  }
}
