@import url(/Users/TravsMac/Sites/blllle.github.io/node_modules/normalize.css/normalize.css);
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 1.5;
  background-color: #ffffff;
  color: #333333;
  margin: 40px auto 40px auto;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 999;
}

nav img {
  width: 50px;
}

.logo img {
  width: 250px;
  display: inline-block;
}

.logo h1 {
  display: inline-block;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-base {
  width: 200px;
  height: 250px;
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.2), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.2), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.35s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.5s ease, -webkit-transform 0.35s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s ease;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s ease, -webkit-transform 0.35s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.front {
  position: relative;
  margin: 15px;
  cursor: pointer;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.back p {
  bottom: 30px;
  position: absolute;
  right: 30px;
  left: initial;
  text-align: right;
}

.front:hover,
.front.hover_effect {
  -webkit-box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.2), 0px 30px 25px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.2), 0px 30px 25px 0px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.hover {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  cursor: pointer;
}

.front:hover .back {
  opacity: 1;
}

.front.hover_effect .back {
  opacity: 1;
}

.intro {
  text-align: center;
  color: #888d9c;
  width: 320px;
  margin: 135px auto 60px;
}

.intro h2 {
  margin-top: 40px;
  color: #444;
}

.visible-small {
  display: none;
}

footer {
  text-align: center;
  color: #888d9c;
  padding-top: 50px;
  font-size: 14px;
}

footer a {
  color: #45a3e6;
  text-decoration: none;
}

.about-page {
  background: #ffeae7;
}

.about-page nav img {
  width: 120px;
}

.about-content {
  padding: 50px;
  max-width: 550px;
  color: #f6a79a;
  text-align: center;
  margin: 20vh auto;
}

.about-content a {
  color: #99d5ff;
  text-decoration: none;
}

.about-content h2 {
  color: #444;
}

@media (max-width: 767px) {
  .hidden-small {
    display: none;
  }
  .visible-small {
    display: block;
  }
  .intro img {
    width: 80px;
    cursor: pointer;
  }
  .about-page nav img {
    width: 80px;
  }
  .logo img {
    width: 210px;
  }
  .about-content {
    margin: 20vh auto 0px;
  }
}

/* Colors */
.front-1 {
  background-color: #cc8f9c;
  color: #a84354;
}

.front-1 .back {
  color: #cc8f9c;
  background-color: #a84354;
}

.front-2 {
  background-color: #ffc2b3;
  color: #cb6b52;
}

.front-2 .back {
  color: #ffc2b3;
  background-color: #cb6b52;
}

.front-3 {
  background-color: #fbdcb6;
  color: #e09a43;
}

.front-3 .back {
  color: #fbdcb6;
  background-color: #e09a43;
}

.front-4 {
  background-color: #fffcde;
  color: #ffe019;
}

.front-4 .back {
  color: #fffcde;
  background-color: #ffe019;
}

.front-5 {
  background-color: #ffd4d5;
  color: #cf6e72;
}

.front-5 .back {
  color: #ffd4d5;
  background-color: #cf6e72;
}

.front-6 {
  background-color: #d5cdf1;
  color: #7263a6;
}

.front-6 .back {
  color: #d5cdf1;
  background-color: #7263a6;
}

.front-7 {
  background-color: #99d5ff;
  color: #45a3e6;
}

.front-7 .back {
  color: #99d5ff;
  background-color: #45a3e6;
}

.front-8 {
  background-color: #c1e6d0;
  color: #6b997e;
}

.front-8 .back {
  color: #c1e6d0;
  background-color: #6b997e;
}

.front-9 {
  background-color: #fcf0cc;
  color: #fdbd02;
}

.front-9 .back {
  color: #fcf0cc;
  background-color: #fdbd02;
}

.front-10 {
  background-color: #f4eaed;
  color: #b9a2a9;
}

.front-10 .back {
  color: #f4eaed;
  background-color: #b9a2a9;
}

.front-11 {
  background-color: #e3bfcb;
  color: #966072;
}

.front-11 .back {
  color: #e3bfcb;
  background-color: #966072;
}

.front-12 {
  background-color: #a8afe7;
  color: #6b73ab;
}

.front-12 .back {
  color: #a8afe7;
  background-color: #6b73ab;
}

.front-13 {
  background-color: #abcaef;
  color: #254a94;
}

.front-13 .back {
  color: #abcaef;
  background-color: #254a94;
}

.front-14 {
  background-color: #bfe6ff;
  color: #6b8799;
}

.front-14 .back {
  color: #bfe6ff;
  background-color: #6b8799;
}

.front-15 {
  background-color: #d8f9f8;
  color: #549492;
}

.front-15 .back {
  color: #d8f9f8;
  background-color: #549492;
}

.front-16 {
  background-color: #ffe7a6;
  color: #e6c670;
}

.front-16 .back {
  color: #ffe7a6;
  background-color: #e6c670;
}

.front-17 {
  background-color: #bae1db;
  color: #598d85;
}

.front-17 .back {
  color: #bae1db;
  background-color: #598d85;
}

.front-18 {
  background-color: #c4cee2;
  color: #6d727d;
}

.front-18 .back {
  color: #c4cee2;
  background-color: #6d727d;
}

.front-19 {
  background-color: #fadede;
  color: #e6968c;
}

.front-19 .back {
  color: #fadede;
  background-color: #e6968c;
}

.front-20 {
  background-color: #fcaf97;
  color: #b36e59;
}

.front-20 .back {
  color: #fcaf97;
  background-color: #b36e59;
}
/*# sourceMappingURL=style.css.map */